* {
    margin: 0;
    padding: 0;
}

.inside-block {
    background-color: #eaeaea;
    width: 100%;
    min-height: 500px;
}

.inside {
    width: 80%;
    min-height: 150px;
    text-align: center;
    margin: 0 auto;
    border: 1px dotted red;
}

header {
    padding-top: 130px;
    min-height: 610px;
}

.logo {
    height: 399px;
    /* border: 1px solid green; */
}

#logo {
    margin-bottom: 75px;
}

.other-logo {
    background-color: #f8f8f8;
    padding: 45px 95px;
}

.nav-bar {
    background-color: #f8f8f8;
    /* border: 1px dashed yellow; */
    display: flex;
}

.nav-logo, .search {
    width: 15%;
    /* border: 1px solid violet; */
    min-height: 37px;
    display: flex;
    align-items: center;
}

.navigation {
    /* display: inline; */
    width: 70%;
    min-height: 37px;
}

#logo-nav {
    float: left;
}

li, a {
    font-size: x-small;
    list-style-type: none;
    color: #7c7c7c;
}

.bar {
    margin: 0;
    padding: 0;
    vertical-align: center;
}

#navigation-bar {
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

#dropdown {
    opacity: .3;
}

#dropdown:hover {
    opacity: .8;
}

.form-search {
    width: 100%;
    border-radius: 5%;
    border: 1px solid;
    font-size: 15px;
}

main {
    padding-top: 85px;
}
/* hero */
.hero-page {
    min-height: 525px;
    /* border: 1px solid red; */
    padding-bottom: 155px;
    background-image: url("../img/hero-page.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 102%;
}

#hero_logo {
    float: left;
    padding-left: 95px;
}

.hero_inside {
    display: flex;
    padding-top: 70px;
}

.hero_text, .hero_slider {
    width: 50%;
    min-height: 150px;
}
/* recipees */
.name_recipe {
    margin-top: 40px;
    color: #921026;
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
}

.main_recipe {
    font-size: 16pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    margin: 0 95px;
}

.hero_logo {
    height: 105px;
}

#two, #three, #four {
    display: none;
}

.recipees {
    min-height: 375px;
    border: 1px solid green;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 88px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.recipe-one {
    min-height: 200px;
    min-width: 33%;
    border: 1px dashed pink;
    padding-top: 45px;
}

.img-recipe {
    width: 313px;
    height: 208px;
    margin: auto;
}

.img-name {
    margin-top: 20px;
    font-size: 18pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}
/* recipe */
.recipe_img {
    width: 47%;
    min-height: 440px;
    /* border: 1px solid black; */
}
.recipe {
    background-image: url(../img/recipe_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102%;
    height: 440px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 140px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.recipe_text {
    width: 54%;
    min-height: 440px;
    /* border: 1px solid violet; */
}

h1 {
    margin-top: 35px;
    color: #055555;
    font-family: 'Playfair Display', serif;
    font-size: 32pt;
}

.time, .easy {
    display: inline-flex;
    justify-content: left;
    text-align: center;
    min-height: 24px;
}

i, p {
    align-self: center;
    margin: auto 5px;
    color: #555555;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
}

.conditions {
    justify-content: left;
    display: flex;
    margin-top: 15px;
    margin-left: 35px;
}

#navbar-example {
    overflow-y: scroll;
    margin: 20px;
    height: 263px;
}

/* 404 */
.error, .author {
    width: 520px;
    height: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.author-404 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.error404 {
    min-height: 380px;
    background-image: url(../img/404.png);
    background-repeat: no-repeat;
    background-position: center;
}

.head {
    font-size: 13pt;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    margin: 0 25px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.error404 {
    padding-top: 125px;
}

h2 {
    font-size: 34pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.error_text {
    width: 140px;
    margin: auto;
    color: #a9a9a9;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    margin-bottom: 10px;
}

.button {
    padding: 0 40px;
    font-size: 12pt;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #a9a9a9;
    background-color: #ffffff;
}

.author_inside {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
}

.name {
    border-bottom: 1px solid #dddddd;
}

.simple_text {
    /* border-bottom: 1px solid #dddddd; */
    width: 100%;
    font-size: 11pt;
    font-family: 'Josefin Sans', sans-serif;
}

.author_info {
    width: 70%;
    /* border: 1px dotted blue; */
    text-align: left;
}

.author_photo {
    width: 30%;
    /* border: 1px dashed red; */
}

h3 {
    font-size: 19pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin-left: 5px;
}

.signature {
    text-align: right;
}

h4 {
    margin: 25px 5px;
    font-size: 15pt;
    font-family: 'Josefin Sans', sans-serif;
}

.icons {
    margin-left: 5px;
}

.about {
    font-size: 9pt;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

/* LOGIN */

.log_in, .sign_in {
    width: 325px;
    min-height: 400px;
    background: #ffffff;
    margin: 44px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 15px 25px;
}

.login {
    display: inline-flex;
    justify-content: center;
    margin: 0 102px;
}

.head_form {
    font-size: 13pt;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    font-weight: bolder;
    border-bottom: 1px solid #dddddd;
}

.simple_text_form {
    width: 100%;
    font-size: 11pt;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    margin: 30px 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 11pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    box-shadow: -11px 19px 22px -19px #1a2626 inset;
}

form {
    padding: 0 5px;
}